<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="hero">
        <nav>
            <div class="shop_name"><a href="">ATN SHOP</a></div>
          
            <a href="https://asmmon2cloud.herokuapp.com" class="sub-menu-link">
              <img src="/images/logout.png">
              <p>Logout</p>
               <span>></span>
          </a>
        </nav>     
            <div class="table">
              <%- select_box %>
            <%- table_string %>
          </div> 
          <script>
            window.setInterval(() => {window.location.reload()}, 10000);
            let subMenu = document.getElementById("subMenu");
            function toggleMenu(){
                  subMenu.classList.toggle("open-menu");
            }
          </script>       
    </div> 
  </body>
  
</html>