<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="hero">
        <nav>
            <div class="shop_name"><a href="">ATN SHOP</a></div>
          
            <a href="logout" class="sub-menu-link">
              <img src="/images/logout.png">
              <p>Logout</p>
               <span>></span>
          </a>
        </nav>     
            <div class="table">
            <%- table_string %>
          </div>        
    </div> 
  </body>
  
</html>